

.note {
  width: 200px;
  box-sizing: border-box;
  box-shadow: 0 0 15px 1px grey;
  margin-top: 2rem;
}

.note-head {
  height: 1.5rem;
  span {
    cursor: pointer;
  }
}

.note-ct {
  padding: .5rem;
  min-height: 5rem;
}

div {
  border: none;
  outline: none;
}
