body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: linear-gradient(135deg, #9236ff 0%,#f763c6 33%,#ff9292 66%,#fff7e1 100%);
            /*linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));*/
}

a {
    color: dimgrey;
    text-decoration: none;
}

ol,ul {
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    background: rgba(255,255,255,.5);
    border-radius: 5px;
    height: 60px;
}
.add-note {
    margin-left: 1rem;

}

.add-note i {
    font-size: 1.1rem;
}

.user-area {
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}
.user-area>li {
    margin-left: .5rem;
}
.usname {
    color: mediumpurple;
    font-weight: bold;
}
.avater{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}
.guest {
    font-weight: bold;
    color: mediumseagreen;
}

.user-area i {
    font-size: 1.1rem;
}

#content {
    min-height: calc(100vh - 60px)!important;
}
