/*<!--头部-->*/
.headerWrap{
    width: 100%;
    background-color: black;
}
.header{
    height: 40px;
    background-color: black;
    display:flex;
    justify-content:space-between;
}
.header li{
    font-size: 12px;
    color:white;
    display:inline-block;
}

/*顶部logo一栏*/
.topBar{
    height: 100px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.logo{
    width: 55px;
    height: 55px;
    background-color: #ff6700;
}
.topBar li{
    display: inline-block;
}
.searchBox{
    border:1px solid lightgrey;
}
#search-input{
    width: 250px;
    height: 50px;
}
.search-icon{
    display:inline-block;
    width: 50px;
    height: 50px;
    border-left:1px solid lightgrey;
}

/*顶部区banner*/
.topBanner{
    display:grid;
    grid-template-columns: 3fr 4fr 4fr 4fr;
    grid-template-rows: 460px 170px;
    grid-gap: 15px;
    grid-template-areas:
            "tv tv tv tv"
            "cm ph1 ph2 ph3";
}
.topBanner>div{
    border:1px solid grey;
}
.tv-big{
    grid-area: tv;
}
.cmBox{
    grid-area: cm;
}
.ph-1{
    grid-area: ph1;
}
.ph-2{
    grid-area: ph2;
}
.ph-3{
    grid-area: ph3;
}

/*顶部区明星产品*/
.topStar-title{
    display:flex;
    justify-content: space-between;
    line-height: 50px;
}
.topStar-title a{
    border:1px solid grey;
    padding:2px;
}
.topStar-content{
    display:flex;
    justify-content:space-around;
}
.topStar-content>div{
    width: 235px;
    height: 334px;
    border-top:2px solid violet;
    background-color: #f5f5f5;
}

/*中心区超大块内容*/
.centerCotainer{
    background-color: #f5f5f5;
    margin-top: 40px;
    padding-top:50px;
}

/*智能硬件*/
.AIHardwareTitle{
    display:flex;
    justify-content:space-between;
    line-height: 50px;
}
.AIHardwareContent{
    height: 615px;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 15px;
}
.AIHardwareContent>div{
    background-color: #fff;
}
.mi-watermachine{
    grid-row: 1/3;
}

/*三个通用版式*/
.proTitle{
    line-height: 50px;
}
.proContent{
    height: 615px;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 15px;
}
/*注意这种方式与grid-template-areas的区别
这个方法11个div，可以用选择器，若用areas，
需要11个名字，比较烦，因为areas中同名的必然合并，没办法像选择器那样进行通用设置，这种排序方式是
从左往右排，满了进入下一行
*/
.proContent>div:nth-child(1),.proContent>div:nth-child(2),.proContent>div:nth-child(3),.proContent>div:nth-child(4),.proContent>div:nth-child(5){
    background-color: #fff;
    grid-row:1/3;
}
.proContent>div:nth-child(6),.proContent>div:nth-child(7),.proContent>div:nth-child(8),.proContent>div:nth-child(9){
    background-color: #fff;
    grid-row:3/5;
}
.proContent>div:nth-child(10){
    background-color: #fff;
    grid-row:3/4;
}
.proContent>div:nth-child(11){
    background-color: #fff;
    grid-row:4/5;
}

/*四个区*/
.recommendTitle,.HotCommentTitle,.contentBookTitle,.videoTitle{
    line-height: 50px;
}
/*推荐区*/
.recommendContent{
    height: 300px;
    background-color: #fff;
}
.recommendContent>div{
    flex:1;
    background-color: navy;
}
/*热评区*/
.HotCommentContent{
    height: 420px;
    background-color: #fff;
}
.HotCommentContent>div{
    flex:1;
    background-color: violet;
}
/*内容区*/
.contentBookContent{
    height: 420px;
    background-color: #fff;
}
.contentBookContent>div{
    flex:1;
    background-color: violet;
}
/*视频区*/
.videoContent{
    height: 285px;
    background-color: #fff;
}
.videoContent>div{
    flex:1;
    background-color: violet;
}
/*给item加间距*/
.recommendContent>div:not(:first-child),.HotCommentContent>div:not(:first-child),.contentBookContent>div:not(:first-child),.videoContent>div:not(:first-child){
    margin-left:15px;
}

/*底部*/
.servicesBar{
    height: 80px;
    border-bottom:1px solid darkgrey;
}
.servicesDL{
    height: 195px;
}
.bottomContainer{
    margin-top: 60px;
    border-top:1px dashed violet;
}
/*footer*/
.footer{
    height: 145px;
    background-color: #fafafa;
}