/*css reset 样式初始化*/

:root{
    font-size: 16px;
    font-family:"微软雅黑";
}

body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,p,th,td{
    margin:0;
    padding:0;
}
header,footer,article,aside,section,nav,menu,hgroup,details,dialog,figure,figcaption{
    display:block
}
ol,li,ul,dl,dt,dd{
    list-style:none;
}
a{
    text-decoration:none;
    color:dimgrey;
}
img{
    border:none;
}
input,img{
    vertical-align: middle;
}
table{
    border-collapse:collapse;
    border_spacing:0;
    box-sizing: border-box
}

/*常用效率 样式*/
/*版心,版心设置以min-width为基准*/
.w{
    /*百分比一般不用*/
    /*width: 85%;*/
    width: 960px;
    margin: 0 auto;
}
/*清除浮动,给父元素设置，after是父元素的最后那儿加*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{
    zoom: 1;
}
/*左浮动*/
.fl{
    float:left;
}
/*右浮动*/
.fr{
    float:right;
}

/*父元素加上该属性清除 行内块子元素之间的空白间距*/
.clear-linespacing{
    font-size: 0px;
}

/*后代行内元素水平居中*/
.child-horizontalCenter{
    text-align:center;
}
/*块元素自身水平居中*/
.horizontalCenter{
    margin:0 auto;
}

/*边框和padding不影响实际大小的css3新属性*/
.border-box{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

