
* {
  padding: 0;
  margin: 0;
}

h1 {
  color: violet;
  text-align: center;
}

.container {
  padding: 100px;
  display: flex;
}

.gameArea {
  position: relative;
  width: 450px;
  height: 450px;
  background: lightgoldenrodyellow;
  box-sizing: border-box;
}
.number {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 148px;
  font-size: 120px;
  color: #ffffff;
  background: dodgerblue;
  box-sizing: border-box;
  //box-shadow: 0 0 1px 1px grey;
  cursor: pointer;
  transition: all .3s linear;
  /*&.n1 {
    top: 0;
    left: 0;
    transition: all .3s linear;
  }
  &.n2 {
    top: 0;
    left: 150px;
  }
  &.n3 {
    top: 0;
    left: 300px;
  }
  &.n4 {
    top: 150px;
    left: 0;
  }
  &.n5 {
    top: 150px;
    left: 150px;
  }
  &.n6 {
    top: 150px;
    left: 300px;
  }
  &.n7 {
    top: 300px;
    left: 0;
  }
  &.n8 {
    top: 300px;
    left: 150px;
  }*/

}
.numhidden {
  position: absolute;
  z-index: 0;
  width: 148px;
  height: 148px;
  top: 300px;
  left: 300px;
}

#refresh {
  width: 150px;
  height: 45px;
  margin-left: 200px;
  font-size: 1.5rem;
  border: 2px solid black;
  background: transparent;
}